contacts-page {
  width: 100vw;
  display: flex;
  align-items: center;
}

.contacts-page-ul {
  width: 100vw;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.contacts-page-ul > li {
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}

.contacts-page-avatar-mobile {
  color: #1A5276;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.contacts-page-contact-information {
  font-size: 20px;
  font-family: "Georgia", sans-serif;
  display: flex;
  align-items: center;
  gap: 10px;
}

.contacts-page-add-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: auto;
  width: auto;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
}

.contacts-page-add-button > span {
  font-size: 60px;
}



